

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodSearch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodSearch.styles.css" asp-append-version="true" />

</head>
<body>
    <!-- Модальное окно -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <!-- Занимает 1.5/5 экрана по ширине -->
            <form class="modal-content" autocomplete="on" method="post" asp-controller="Authentication" asp-action="Login">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Авторизация</h5> <!-- Заголовок Авторизация -->
                </div>
                <div class="modal-body">
                    <!-- Поля ввода логина и пароля -->
                    <div class="Login-Inputs mb-5">
                        <input type="text" name="loginInput" class="form-control" placeholder="Логин..." required> <!-- Расстояние между полями ввода -->
                        <input type="password" name="PasswordInput" class="form-control" placeholder="Пароль..." required> <!-- Расстояние между полями ввода -->
                    </div>

                    <!-- Кнопка Войти и кнопка Регистрация -->
                    <div class="Login-Buttons mb-3">
                        <button type="submit" formaction='@Url.Action("Login", "Authentication")' class="button-success btn">Войти</button> <!-- Расстояние между кнопками -->
                        <button type="button" class="button-continue btn" onclick="openRegisterModal()">Регистрация</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                </div>
                <form class="modal-body" id="registerModalBodyStep1">
                    <h6>Шаг 1/2</h6>
                    <input type="text" id="OGRN" name="OGRN" class="form-control mb-3" oninput="this.value = this.value.replace(/\D/g, '')" maxlength="13" placeholder="ОГРН*" required>
                    <input type="text" id="UserEmail" name="UserEmail" class="form-control mb-3" placeholder="E-mail организации*" required>
                    <button type="submit" id="continueButton" formaction='@Url.Action("FirstStep", "Home")' class="btn form-control" onclick="openStep2()" disabled>Продолжить</button>
                </form>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">

                <a asp-area="" asp-controller="Home" asp-action="Index" class="sidebar-header-item">
                    <p style="font-size:24px; line-height:0;">FoodSearch</p>
                    <p style="font-size:12px; margin: 0;">Сервис сравнения цен на продукты</p>
                </a>

            </div>
            <div class="sidebar-navigation">
                <a class="sidebar-navigation-item" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="navigation-item-icon">
                        <img src="/images/icons/search.png" />
                    </div>
                    <div class="navigation-item-text"> Поиск</div>
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    @* <li class="sidebar-navigation-item">
                <div class="user-profile">
                <div id="user-avatar" class="user-initial">@ViewBag.UserInitial</div>
                </div>
                </li> *@
                    <a class="sidebar-navigation-item" asp-area="" asp-controller="Account" asp-action="Profile">
                        <div class="navigation-item-icon">
                            <img src="/images/icons/profile.png" />
                        </div>
                        <div class="navigation-item-text"> Личный кабинет</div>

                    </a>
                    <a class="sidebar-navigation-item" asp-area="" asp-controller="Account" asp-action="Subscription">
                        <div class="navigation-item-icon">
                            <img src="/images/icons/subscription.png" />
                        </div>
                        <div class="navigation-item-text"> Подписка</div>
                    </a>
                    <a class="sidebar-navigation-item nav-link disabled" aria-disabled="true" asp-area="" asp-controller="" asp-action="">
                        <div class="navigation-item-icon">
                            <img src="/images/icons/stats.png" />
                        </div>
                        <div class="navigation-item-text"> Аналитика <br><span style="font-size:11px; color: rgb(21 128 61)">Скоро</span></div>
                    </a>
                    <a class="sidebar-navigation-item" asp-area="" asp-controller="Account" asp-action="Fixation">
                        <div class="navigation-item-icon">
                            <img src="/images/icons/fixation.png" />
                        </div>
                        <div class="navigation-item-text"> Фиксация</div>
                    </a>

                }
            </div>
            <div class="sidebar-footer">
                @if (!User.Identity.IsAuthenticated)
                {
                    <button data-bs-toggle="modal" data-bs-target="#loginModal" class="sidebar-footer-button">
                        <div class="footer-button-item">
                            <img src="/images/icons/logout.png" />
                        </div>
                        <div class="footer-button-item"> Войти</div>
                    </button>

                }
                @if (User.Identity.IsAuthenticated)
                {
                    <form id="logoutForm" asp-area="" asp-controller="Authentication" asp-action="Logout" method="post">
                        <button type="submit" class="sidebar-footer-button">
                            <div class="footer-button-item">
                                <img src="/images/icons/logout.png" />
                            </div>
                            <div class="footer-button-item"> Выйти</div>
                        </button>
                    </form>
                }
                &copy; 2024 - FoodSearch - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>

        </div>
        <main class="main-content" role="main">
            <div class="content">
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
