

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodSearch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodSearch.styles.css" asp-append-version="true" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid position-relative">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FoodSearch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Сервис сравнения цен на продукты</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1 d-flex flex-row-reverse">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <button class="login-button" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</button>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    { 

                        <li class="nav-item">
                            <button class="hamburger-button" aria-label="Открыть меню">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <div class="user-profile">
                                <div id="user-avatar" class="user-initial">@ViewBag.UserInitial</div>
                            </div>
                        </li>

                        <div class="hamburger-menu-content">
                            <ul class="menu-links">
                                <li><a asp-area="" asp-controller="Account" asp-action="Profile">Личный кабинет</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Subscription">ФудСерч Pro</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Fixation">Фиксация</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Search">Поиск</a></li>
                                <li>
                                    <form id="logoutForm" asp-area="" asp-controller="Authentication" asp-action="Logout" method="post">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Log out</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Модальное окно -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <!-- Занимает 1.5/5 экрана по ширине -->
            <form class="modal-content" autocomplete="on" method="post" asp-controller="Authentication" asp-action="Login">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Авторизация</h5> <!-- Заголовок Авторизация -->
                </div>
                <div class="modal-body">
                    <!-- Поля ввода логина и пароля -->
                    <div class="Login-Inputs mb-5">
                        <input type="text" name="loginInput" class="form-control" placeholder="Логин..." required> <!-- Расстояние между полями ввода -->
                        <input type="password" name="PasswordInput" class="form-control" placeholder="Пароль..." required> <!-- Расстояние между полями ввода -->
                    </div>

                    <!-- Кнопка Войти и кнопка Регистрация -->
                    <div class="Login-Buttons mb-3">
                        <button type="submit" formaction='@Url.Action("Login", "Authentication")' class="button-success btn">Войти</button> <!-- Расстояние между кнопками -->
                        <button type="button" class="button-continue btn" onclick="openRegisterModal()">Регистрация</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Регистрация</h5>
                </div>
                <form class="modal-body" id="registerModalBodyStep1">
                    <h6>Шаг 1/2</h6>
                    <input type="text" id="OGRN" name="OGRN" class="form-control mb-3" oninput="this.value = this.value.replace(/\D/g, '')" maxlength="13" placeholder="ОГРН*" required>
                    <input type="text" id="UserEmail" name="UserEmail" class="form-control mb-3" placeholder="E-mail организации*" required>
                    <button type="submit" id="continueButton" formaction='@Url.Action("FirstStep", "Home")' class="btn form-control" onclick="openStep2()" disabled>Продолжить</button>
                </form>
            </div>
        </div>
    </div>



    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FoodSearch - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
